/* Overlay to cover the entire screen */
.boost-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items:flex-end;
    justify-content: center;
    z-index: 9999999;
  }
  
  /* Modal container */
  .boost-modal {
    background-color: black;
    border-radius: 24px;
    width: 100%;
    max-width: 480px;
    padding: 32px;
    position: relative;
  }
  
  /* Close button style */
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    background: #F4FDFF;
    border-radius: 50%;
    padding: 8px;

  }
  
  .close-icon {
    color: black;
    width: 32px;
    height: 32px;
  }
  
  /* Title text */
  .boost-modal-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 24px;
  }
  
  /* Description text */
  .boost-modal-description {
    color: white;
    font-size: 16px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1.6;
  }
  
  /* Button container */
  .boost-modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  /* Button base style */
  .boost-modal-button {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
  }
  
  /* Button for HTC boost */
  .boost-htc-button {
    background-color: #FEC001;
    color: #FF29C2;
    transition: background-color 0.3s ease;
  }

  .boost-star-button{
    background-color: #6E6EFF;
    color: #FEC001;
    transition: background-color 0.3s ease;
  }
  
  .boost-htc-button:hover {
    background-color: #5d4fc7;
  }
  
  /* Button for TON boost */
  .boost-ton-button {
    background-color: #F4FDFF;
    color: #3772FF;
    transition: background-color 0.3s ease;
  }
  
  .boost-ton-button:hover {
    background-color: #001d66;
  }
  